<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passwordkeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordKeeper">
        <activity android:name=".UploadImageActivity"
            android:parentActivityName=".SettingsActivity"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".UpdatePasswordActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".UpdateItemActivity"
            android:parentActivityName=".ViewItemActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ViewItemActivity" />
        <activity android:name=".GeneratorActivity" />
        <activity
            android:name=".AddItemActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>